html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #ffffff;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #ffffff;
  direction: ltr;
}
/*
 * ***************************************************
 * MAIN LAYOUT START
 * ***************************************************
 */
/*
 * HEADER GROUP
 */
#header {
  display: block;
  height: 49px;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
  position: relative;
  z-index: 905;
}
#header > div {
  display: inline-block;
  vertical-align: middle;
  height: 49px;
  float: left;
}
#header > :first-child,
aside {
  width: 220px;
}
#main {
  margin-left: 220px;
  padding: 0;
  padding-bottom: 52px;
  min-height: 500px;
  position: relative;
}
/*
 * HIDDEN MENU
 */
.hidden-menu #left-panel {
  left: -210px;
  z-index: 903;
}
.hidden-menu #main {
  margin-left: 10px;
}
.hidden-menu #left-panel:hover {
  left: 0px;
}
.hidden-menu .minifyme {
  display: none;
}
.minified #hide-menu {
  display: none;
}
.btn-header.pull-right {
  margin-left: 6px;
}
.btn-header a > span {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.btn-header > :first-child > a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 30px;
  line-height: 24px;
  min-width: 30px;
  padding: 2px;
  text-align: center;
  text-decoration: none !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #bfbfbf;
  color: #6D6A69;
  font-size: 17px;
  margin: 10px 0 0 0;
}
.btn-header > :first-child > a:hover {
  border: 1px solid #bfbfbf;
  color: #222;
  transition: all 0.0s;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08);
}
.btn-header > :first-child > a:active {
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #ededed 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #e8e8e8 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #e8e8e8 0%, #ededed 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ededed', GradientType=0);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}
.hidden-menu #hide-menu > :first-child > a {
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #5a5a5a 0%, #686868 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a5a5a), color-stop(100%, #686868));
  background-image: -webkit-linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  background-image: -o-linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  background-image: -ms-linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  background-image: linear-gradient(to bottom, #5a5a5a 0%, #686868 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5A5A5A', endColorstr='#686868', GradientType=0);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border-color: #494949;
}
.hidden-menu #hide-menu > :first-child > a:active,
.full-screen #fullscreen > :first-child > a:active {
  -webkit-box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}
/*
 * LEFT PANEL
 */
aside {
  display: block;
  /*overflow: hidden;*/
  background: #447799;
  /*background: url(@asideDataURL);*/
  background: -moz-linear-gradient(left, #447799 93%, #2a2725 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(93%, #447799), color-stop(100%, #2a2725));
  background: -webkit-linear-gradient(left, #447799 93%, #2a2725 100%);
  background: -o-linear-gradient(left, #447799 93%, #2a2725 100%);
  background: -ms-linear-gradient(left, #447799 93%, #2a2725 100%);
  background: linear-gradient(to right, #447799 93%, #2a2725 100%);
  min-height: 100%;
}
#left-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 904;
  padding-top: 49px;
}
nav ul {
  width: 100%;
  padding: 10px 10px 10px 12px;
  margin: 0;
  font-size: 13px;
  line-height: 0.5em;
  list-style: none;
  position: relative;
}
#left-panel ul > li,
#left-panel ul > li > a {
  margin: 0;
  line-height: normal;
  font-size: 14px;
  padding: 0;
  color: #c0bbb7;
  display: block;
  font-weight: normal;
  text-decoration: none !important;
  position: relative;
}
#left-panel input {
  position: absolute;
  opacity: 0;
}
#left-panel input ~ ul {
  display: none;
}
#left-panel label,
#left-panel label::before {
  cursor: pointer;
}
#left-panel input:disabled + label {
  cursor: default;
  opacity: .6;
}
#left-panel input:checked:not(:disabled) ~ ul {
  background: #616161 !important;
  color: #fff !important;
  display: block;
}
#left-panel input:checked:not(:disabled) ~ ul > li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#left-panel label,
#left-panel a,
#left-panel label::before {
  font-weight: normal;
  padding-left: 5px;
}
#left-panel label::before {
  content: "";
  width: 16px;
}
#left-panel ul > li label > b {
  position: absolute !important;
  right: 10px;
  top: 15px;
}
#left-panel ul > li > i {
  margin-right: 5px;
  width: 15px;
  display: inline-block;
  text-align: center;
  position: relative;
}
#left-panel input:checked:not(:disabled) ~ label > b:before {
  content: "\f147";
  font-family: FontAwesome;
  font-size: 11px;
  background: #616161 !important;
}
#left-panel input:not(:checked):not(:disabled) ~ label > b:before {
  content: "\f196";
  font-family: FontAwesome;
  font-size: 11px;
}
/*
 * user info
 */
.user-info,
.user-info * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.user-info {
  display: block;
  font-size: 12px;
  height: 39px;
  color: #ffffff;
  border: solid transparent;
  border-width: 1px 0px 1px 0px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  width: 100%;
  margin: 0px !important;
  border-bottom: 1px solid #525151;
}
.user-info a {
  text-decoration: none !important;
  color: #c0bbb7;
  display: inline-block;
  margin-top: 6px;
}
.user-info a span {
  text-transform: capitalize;
  font-size: 14px;
  /* 14px~ */
  display: inline-block;
  text-decoration: none;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.user-info a span + i {
  vertical-align: middle;
}
.user-info a:hover {
  color: #ffffff;
}
.user-info > span {
  height: 38px;
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid #1A1817;
}
.user-info img {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1px;
  margin-right: 5px;
  margin-left: 0px;
  border-left: 3px solid #ffffff;
}
